*:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transform-y-center {
  transform: translateY(-50%);
}

.transform-x-center {
  transform: translateX(-50%);
}

.transform-center {
  transform: translate(-50%, -50%);
}

.transition {
  transition: 0.3s all;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotation 1s linear infinite;
}

.slide-left {
  animation: slideLeft 0.2s linear;
}

@keyframes slideLeft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.code pre {
  overflow-y: auto !important;
  overflow-x: auto !important;
  max-height: 500px !important;
  margin: 0 !important;
  padding: 20px !important;
  & {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

div {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
